<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chc.ezim.mapper.ChatSessionMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="ChatSession">
		<!--会话ID-->
		<result column="id" property="id"  />
		<!--最后接受的消息-->
		<result column="last_message" property="lastMessage"  />
		<!--最后接受消息时间毫秒-->
		<result column="last_receive_time" property="lastReceiveTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,last_message,last_receive_time
	</sql>

	<sql id="base_condition_filed">
		<if test="query.id != null and query.id!=''">
			 and  id = #{query.id}
		</if>
		<if test="query.lastMessage != null and query.lastMessage!=''">
			 and  last_message = #{query.lastMessage}
		</if>
		<if test="query.lastReceiveTime != null">
			 and  last_receive_time = #{query.lastReceiveTime}
		</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed" />
			<if test="query.idFuzzy!= null  and query.idFuzzy!=''">
				 and  id like concat('%', #{query.idFuzzy}, '%')
			</if>
			<if test="query.lastMessageFuzzy!= null  and query.lastMessageFuzzy!=''">
				 and  last_message like concat('%', #{query.lastMessageFuzzy}, '%')
			</if>
		</where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM chat_session <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM chat_session <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="ChatSession">
		 INSERT INTO chat_session
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.lastMessage != null">
				 last_message,
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.lastMessage!=null">
				 #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime!=null">
				 #{bean.lastReceiveTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="ChatSession">
		 INSERT INTO chat_session
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.lastMessage != null">
				 last_message,
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.lastMessage!=null">
				 #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime!=null">
				 #{bean.lastReceiveTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.id!=null">
				 id = VALUES(id),
			</if>
			<if test="bean.lastMessage!=null">
				 last_message = VALUES(last_message),
			</if>
			<if test="bean.lastReceiveTime!=null">
				 last_receive_time = VALUES(last_receive_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="ChatSession">
		 INSERT INTO chat_session(
			 id,
			 last_message,
			 last_receive_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.id},
				 #{item.lastMessage},
				 #{item.lastReceiveTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="ChatSession">
		 INSERT INTO chat_session(
			 id,
			 last_message,
			 last_receive_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.id},
				 #{item.lastMessage},
				 #{item.lastReceiveTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			id = VALUES(id),
			last_message = VALUES(last_message),
			last_receive_time = VALUES(last_receive_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="ChatSessionDto">
		 UPDATE chat_session
 		 <set> 
			<if test="bean.id != null">
				 id = #{bean.id},
			</if>
			<if test="bean.lastMessage != null">
				 last_message = #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time = #{bean.lastReceiveTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from chat_session
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="ChatSession">
		 UPDATE chat_session
 		 <set> 
			<if test="bean.lastMessage != null">
				 last_message = #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time = #{bean.lastReceiveTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from chat_session where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from chat_session where id=#{id}
	</select>

</mapper>