<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chc.ezim.mapper.UserContactApplyMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="UserContactApply">
		<!--自增ID-->
		<id column="id" property="id"  />
		<!--申请人id-->
		<result column="apply_user_id" property="applyUserId"  />
		<!--接收人ID-->
		<result column="receive_user_id" property="receiveUserId"  />
		<!--联系人类型 0:好友 1:群组-->
		<result column="contact_type" property="contactType"  />
		<!--联系人群组ID-->
		<result column="contact_id" property="contactId"  />
		<!--状态 0:待处理 1:已同意 2:已拒绝 3:已拉黑-->
		<result column="status" property="status"  />
		<!--申请信息-->
		<result column="apply_info" property="applyInfo"  />
		<!--最后申请时间-->
		<result column="last_apply_time" property="lastApplyTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,apply_user_id,receive_user_id,contact_type,contact_id,
		 status,apply_info,last_apply_time
	</sql>

	<sql id="base_condition_filed">
		<if test="query.id != null">
			 and  a.id = #{query.id}
		</if>
		<if test="query.applyUserId != null and query.applyUserId!=''">
			 and  a.apply_user_id = #{query.applyUserId}
		</if>
		<if test="query.receiveUserId != null and query.receiveUserId!=''">
			 and  a.receive_user_id = #{query.receiveUserId}
		</if>
		<if test="query.contactType != null">
			 and  a.contact_type = #{query.contactType}
		</if>
		<if test="query.contactId != null and query.contactId!=''">
			 and  a.contact_id = #{query.contactId}
		</if>
		<if test="query.status != null">
			 and  a.status = #{query.status}
		</if>
		<if test="query.applyInfo != null and query.applyInfo!=''">
			 and  a.apply_info = #{query.applyInfo}
		</if>
		<if test="query.lastApplyTime != null">
			 and  a.last_apply_time = #{query.lastApplyTime}
		</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed" />
			<if test="query.applyUserIdFuzzy!= null  and query.applyUserIdFuzzy!=''">
				 and  a.apply_user_id like concat('%', #{query.applyUserIdFuzzy}, '%')
			</if>
			<if test="query.receiveUserIdFuzzy!= null  and query.receiveUserIdFuzzy!=''">
				 and  a.receive_user_id like concat('%', #{query.receiveUserIdFuzzy}, '%')
			</if>
			<if test="query.contactIdFuzzy!= null  and query.contactIdFuzzy!=''">
				 and  a.contact_id like concat('%', #{query.contactIdFuzzy}, '%')
			</if>
			<if test="query.applyInfoFuzzy!= null  and query.applyInfoFuzzy!=''">
				 and  a.apply_info like concat('%', #{query.applyInfoFuzzy}, '%')
			</if>
		</where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT
		     a.*
		 <if test="query.queryContactInfo">
			, case
			 when a.contact_type = 0 then u.nick_name
			 when a.contact_type = 1 then g.group_name
		 	 end as contactName
		 </if>
		 FROM user_contact_apply a
		<if test="query.queryContactInfo">
			left join user u on u.id = a.apply_user_id and a.receive_user_id = #{query.receiveUserId}
		    left join user_group g on g.id = a.contact_id and a.receive_user_id = #{query.receiveUserId}
		</if>
		 <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM user_contact_apply a <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="UserContactApply">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO user_contact_apply
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.applyUserId != null">
				 apply_user_id,
			</if>
			<if test="bean.receiveUserId != null">
				 receive_user_id,
			</if>
			<if test="bean.contactType != null">
				 contact_type,
			</if>
			<if test="bean.contactId != null">
				 contact_id,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.applyInfo != null">
				 apply_info,
			</if>
			<if test="bean.lastApplyTime != null">
				 last_apply_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.applyUserId!=null">
				 #{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId!=null">
				 #{bean.receiveUserId},
			</if>
			<if test="bean.contactType!=null">
				 #{bean.contactType},
			</if>
			<if test="bean.contactId!=null">
				 #{bean.contactId},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.applyInfo!=null">
				 #{bean.applyInfo},
			</if>
			<if test="bean.lastApplyTime!=null">
				 #{bean.lastApplyTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="UserContactApply">
		 INSERT INTO user_contact_apply
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.applyUserId != null">
				 apply_user_id,
			</if>
			<if test="bean.receiveUserId != null">
				 receive_user_id,
			</if>
			<if test="bean.contactType != null">
				 contact_type,
			</if>
			<if test="bean.contactId != null">
				 contact_id,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.applyInfo != null">
				 apply_info,
			</if>
			<if test="bean.lastApplyTime != null">
				 last_apply_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.applyUserId!=null">
				 #{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId!=null">
				 #{bean.receiveUserId},
			</if>
			<if test="bean.contactType!=null">
				 #{bean.contactType},
			</if>
			<if test="bean.contactId!=null">
				 #{bean.contactId},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.applyInfo!=null">
				 #{bean.applyInfo},
			</if>
			<if test="bean.lastApplyTime!=null">
				 #{bean.lastApplyTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.applyUserId!=null">
				 apply_user_id = VALUES(apply_user_id),
			</if>
			<if test="bean.receiveUserId!=null">
				 receive_user_id = VALUES(receive_user_id),
			</if>
			<if test="bean.contactType!=null">
				 contact_type = VALUES(contact_type),
			</if>
			<if test="bean.contactId!=null">
				 contact_id = VALUES(contact_id),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.applyInfo!=null">
				 apply_info = VALUES(apply_info),
			</if>
			<if test="bean.lastApplyTime!=null">
				 last_apply_time = VALUES(last_apply_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="UserContactApply" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO user_contact_apply(
			 apply_user_id,
			 receive_user_id,
			 contact_type,
			 contact_id,
			 status,
			 apply_info,
			 last_apply_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.applyUserId},
				 #{item.receiveUserId},
				 #{item.contactType},
				 #{item.contactId},
				 #{item.status},
				 #{item.applyInfo},
				 #{item.lastApplyTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="UserContactApply">
		 INSERT INTO user_contact_apply(
			 apply_user_id,
			 receive_user_id,
			 contact_type,
			 contact_id,
			 status,
			 apply_info,
			 last_apply_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.applyUserId},
				 #{item.receiveUserId},
				 #{item.contactType},
				 #{item.contactId},
				 #{item.status},
				 #{item.applyInfo},
				 #{item.lastApplyTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			apply_user_id = VALUES(apply_user_id),
			receive_user_id = VALUES(receive_user_id),
			contact_type = VALUES(contact_type),
			contact_id = VALUES(contact_id),
			status = VALUES(status),
			apply_info = VALUES(apply_info),
			last_apply_time = VALUES(last_apply_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="UserContactApplyDto">
		 UPDATE user_contact_apply a
 		 <set> 
			<if test="bean.applyUserId != null">
				 apply_user_id = #{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId != null">
				 receive_user_id = #{bean.receiveUserId},
			</if>
			<if test="bean.contactType != null">
				 contact_type = #{bean.contactType},
			</if>
			<if test="bean.contactId != null">
				 contact_id = #{bean.contactId},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.applyInfo != null">
				 apply_info = #{bean.applyInfo},
			</if>
			<if test="bean.lastApplyTime != null">
				 last_apply_time = #{bean.lastApplyTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from user_contact_apply as a
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="UserContactApply">
		 UPDATE user_contact_apply
 		 <set> 
			<if test="bean.applyUserId != null">
				 apply_user_id = #{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId != null">
				 receive_user_id = #{bean.receiveUserId},
			</if>
			<if test="bean.contactType != null">
				 contact_type = #{bean.contactType},
			</if>
			<if test="bean.contactId != null">
				 contact_id = #{bean.contactId},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.applyInfo != null">
				 apply_info = #{bean.applyInfo},
			</if>
			<if test="bean.lastApplyTime != null">
				 last_apply_time = #{bean.lastApplyTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from user_contact_apply where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_contact_apply where id=#{id}
	</select>

	<!-- 根据ApplyUserIdAndReceiveUserIdAndContactId修改-->
	<update id="updateByApplyUserIdAndReceiveUserIdAndContactId" parameterType="UserContactApply">
		 UPDATE user_contact_apply
 		 <set> 
			<if test="bean.contactType != null">
				 contact_type = #{bean.contactType},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.applyInfo != null">
				 apply_info = #{bean.applyInfo},
			</if>
			<if test="bean.lastApplyTime != null">
				 last_apply_time = #{bean.lastApplyTime},
			</if>
 		 </set>
 		 where apply_user_id=#{applyUserId} and receive_user_id=#{receiveUserId} and contact_id=#{contactId}
	</update>

	<!-- 根据ApplyUserIdAndReceiveUserIdAndContactId删除-->
	<delete id="deleteByApplyUserIdAndReceiveUserIdAndContactId">
		delete from user_contact_apply where apply_user_id=#{applyUserId} and receive_user_id=#{receiveUserId} and contact_id=#{contactId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByApplyUserIdAndReceiveUserIdAndContactId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_contact_apply where apply_user_id=#{applyUserId} and receive_user_id=#{receiveUserId} and contact_id=#{contactId}
	</select>

</mapper>